:root {
  /* 색상 */
  --color-blue-50: #e1f5fe;
  --color-blue-100: #baddf9;
  --color-blue-300: #64b5f6;
  --color-white: #ffffff;
  --color-black: #000000;

  --body-font-size: 16;

  --font-size-regular: 18px;

  /* z-index 우선순위 */
  --first-z-index: 1;
  --two-z-index: 2;
  --three-z-index: 3;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: var(--body-font-size);
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  appearance: none;
  color: initial;
  background-color: initial;
  padding: 0;
  border: none;
}

figure, p {
  margin: 0;
}

img {
  position: relative;
  width: 100%;
  height: 100%;
}

header {
  height: 5em;
  background-color: var(--color-blue-100);
  position: sticky;
  top: 0;
  left: 0;
  z-index: var(--three-z-index);
  /* -webkit-box-shadow: 3px 1px 18px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 1px 18px 0px rgba(0,0,0,0.75);
  box-shadow: 3px 1px 18px 0px rgba(0,0,0,0.75); */
}

.header__container {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 64em;
  margin: 0 auto;
}

.logo {
  position: relative;
  height: 100%;
  width: 15em;
  padding: 1em;
}

.logo__img {
  filter: brightness(0) invert(1);
}

.menu {
  display: flex;
}

.menu__list {
  position: relative;
  padding: 1em 1em 1em .5em;
  font-weight: 600;
  color: var(--color-white);
  cursor: pointer;
}

.menu__list:last-child {
  padding-right: 0;
}

.menu__list:hover a {
  color: var(--color-blue-300);
}

.menu__list:hover .submenu {
  max-height: 15em;
  z-index: var(--two-z-index);
}

.submenu {
  position: absolute;
  left: 0;
  top: 4.1888em;
  background-color: var(--color-blue-100);
  max-height: 0;
  overflow: hidden;
  transition: max-height .3s ease-in-out;
  -webkit-transition: max-height .3s ease-in-out;
  -moz-transition: max-height .3s ease-in-out;
  -ms-transition: max-height .3s ease-in-out;
  -o-transition: max-height .3s ease-in-out;
}

.submenu__list {
  padding: .5em;
  width: max-content;
}

.submenu__list:hover {
  color: var(--color-blue-300);
}

.hamburger__menu {
  position: relative;
  display: none;
  width: 2em;
  height: 1.5em;
  margin-right: 2em;
  transition: .3s ease-in-out;
  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -ms-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  cursor: pointer;
}

.hamburger__menu span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0.281em;
  background-color: var(--color-black);
}

.hamburger__menu span:nth-child(1) {
  top: 0;
}

.hamburger__menu span:nth-child(2),
.hamburger__menu span:nth-child(3) {
  top: 50%;
}

.hamburger__menu span:nth-child(4) {
  top: 100%;
}

.hamburger__menu.active span:nth-child(1) {
  width: 0;
}

.hamburger__menu.active span:nth-child(2) {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

.hamburger__menu.active span:nth-child(3) {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}

.hamburger__menu.active span:nth-child(4) {
  width: 0;
}

/* 메인 */
/* 슬라이더 */
.slider {
  height: calc(100vh - 5em);
}

.slider__container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 64em;
  margin: 0 auto;
  height: 100%;
  overflow-x: hidden;
}

.slider-btn {
  position: absolute;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: var(--color-blue-300);
  color: var(--color-white);
  font-size: var(--font-size-regular);
  padding: 1em;
  font-weight: bold;
  cursor: pointer;
  z-index: var(--first-z-index);
}

.right-btn {
  right: 0;
  margin-right: 1em;
}

.left-btn {
  left: 0;
  margin-left: 1em;
}

.right-btn::after {
  content: '>';
}

.left-btn::after {
  content: '<';
}


.slider__wrapper {
  display: flex;
  height: 100%;
  width: 100%;
  /*clone한첫번째슬라이드(이건마지막슬라이드거가져온건데첫슬라이드로가려면-100%이동)*/
  transition: transform .3s ease-in-out;
  -webkit-transition: transform .3s ease-in-out;
  -moz-transition: transform .3s ease-in-out;
  -ms-transition: transform .3s ease-in-out;
  -o-transition: transform .3s ease-in-out;
  transform: translate3d(-100%, 0, 0);
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  -ms-transform: translate3d(-100%, 0, 0);
  -o-transform: translate3d(-100%, 0, 0);
  will-change: transform;
}

.slider__item {
  display: block;
  width: 500%;
  min-width: 100%;
  height: 100%;
}

.slider__item.item1 {
  background: url('images/slider/image1.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.slider__item.item2 {
  background: url('images/slider/image2.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.slider__item.item3 {
  background: url('images/slider/image3.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.slider__item.item4 {
  background: url('images/slider/image4.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.slider__item.item5 {
  background: url('images/slider/image5.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.slider__item.active .slider__item__description {
  animation: fadeIn .7s ease-in-out;
  -webkit-animation: fadeIn .7s ease-in-out;
  will-change: animation;
  opacity: 1;
}


@keyframes fadeIn {
  0% {
      opacity: 0;
      transform: translateY(100px);
      -webkit-transform: translateY(100px);
      -moz-transform: translateY(100px);
      -ms-transform: translateY(100px);
      -o-transform: translateY(100px);
}
  100% {
      opacity: 1;
      transform: translateY(0);
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
  }
}


.slider__item__description {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 40%;
  left: 12%;
  max-width: 20em;
  height: 15em;
  padding: 1em;
  background-color: rgba(0, 0, 0, .4);
  color: var(--color-white);
  opacity: 0;
}

.slider__item__description p {
  animation: fadeIn .7s ease-in-out;
  -webkit-animation: fadeIn .7s ease-in-out;
}

.pagination {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0 auto;
}

.pagination .dot {
  padding: .5em;
  margin: .5em;
  background-color: var(--color-blue-100);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  cursor: pointer;
}

.pagination .dot_active {
  background-color: var(--color-blue-300);
}

.ranking { 
  padding: 5em 2em;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.ranking__container {
  position: relative;
  width: 22%;
  text-align: center;
  margin: .5em;
  -webkit-box-shadow: -1px 2px 31px -10px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 2px 31px -10px rgba(0,0,0,0.75);
  box-shadow: -1px 2px 31px -10px rgba(0,0,0,0.75);
}

.ranking__header {
  width: 100%;
  height: 15em;
}

.ranking__header img {
  position: relative;
  width: 100%;
  height: 100%;
}

.profile {
  position: absolute;
  top: 13.5em;
  width: 2em;
  height: 2em;
  margin-left: 1em;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.profile img {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.ranking__contents {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.ranking__contents .title,
.ranking__contents .contents {
  padding: 1em .5em;
}

.novel__container {
  max-width: 64em;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.novel__item {
  display: flex;
}

.novel__image,
.novel__contents {
  width: 50%;
  max-height: 21.875em;
}

.novel__contents {
  padding: 2.5em;

}

.novel__image img {
  position: relative;
  width: 100%;
  height: 100%;
}

.novel__item:nth-child(even) {
  flex-direction: row-reverse;
}

.masonry__container {
  margin: 5em 1em 1em 2em;
}

.masonry {
  display: grid;
  gap: .8em;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: 0;
}

.masonry__image {
  max-width: 100%;
  display: block;
}


/* 반응형 */
@media screen and (max-width: 768px) {
  :root {
      --body-font-size: 14px;

      --font-size-regular: 16px;
  }

  .menu {
      display: none;
  }

  .hamburger__menu {
      display: block;
  }

  .menu.active {
      display: block;
      position: absolute;
      top: 5em;
      width: 100%;
      left: 0;
      background-color: var(--color-blue-100);
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .menu.active .menu__list:nth-child(1) {
      order: 1;
  }

  .menu.active .menu__list:nth-child(2) {
      order: 2;
  }

  .menu.active .menu__list:nth-child(3) {
      order: 3;
  }

  .menu.active .menu__list {
      width: 100%;
      text-align: center;
  }

  .submenu {
      position: relative;
      top: 0;
  }

  .submenu__list {
      width: 100%;
  }

  .slider__item__description {
    left: 0;
    margin: 0 auto;
    max-width: 70%;
  }

  .ranking__container {
      width: 47%;
  }

  .novel__item {
      flex-direction: column;
  }
}

@media screen and (max-width: 576px) {
  :root {
      --body-font-size: 12px;

      --font-size-regular: 14px;
  }

  .menu {
      display: none;
  }

  .hamburger__menu {
      display: block;
  }

  .menu.active {
      display: block;
      position: absolute;
      top: 5em;
      width: 100%;
      left: 0;
      background-color: var(--color-blue-100);
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
  }

  .menu.active .menu__list:nth-child(1) {
      order: 1;
  }

  .menu.active .menu__list:nth-child(2) {
      order: 2;
  }

  .menu.active .menu__list:nth-child(3) {
      order: 3;
  }

  .menu.active .menu__list {
      width: 100%;
      text-align: center;
  }

  .submenu {
      position: relative;
      top: 0;
  }

  .submenu__list {
      width: 100%;
  }

  .slider__item__description {
    left: 0;
    margin: 0 auto;
    max-width: 70%;
  }

  .ranking__container {
      width: 100%;
  }

  .novel__item {
      flex-direction: column;
  }
}